<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="jumbotron jumbotron-fluid">
    <div class="container container-fluid">
        <div class="row">
            <div >
                <h1 class="display-4">GEO EPIC</h1>
                <p class="lead">Find Poke Items,  Gain Revature Points</p>
                <hr class="my-4">
                
            </div>
            <div class="col-sm-12">
                
                <div class="container" *ngIf = "loginSuccessful == false">
                    
                    <h2>Start Exploring</h2>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <p class="input-group-text" id="basic-addon1">Username</p>
                        </div>
                        <input class="form-control" type="text" [(ngModel)] = "usernm">
                        
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <p class="input-group-text" id="basic-addon1">Password</p>
                        </div>
                        <input  class="form-control" type="password" [(ngModel)] = "userpassword">
                        
                    </div>
                    <div id="longer" class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <p class="input-group-text" id="basic-addon1">Is manager?(TRUE/FALSE)</p>
                        </div>
                        <input class="form-control" type="text" [(ngModel)] = "infoManager">
                        
                    </div>
                   
                    
                    <button class="btn btn-primary btn-lg" (click) = "submit()">Submit</button>
                
                
                </div>
            </div>
        </div>
    </div>
    
</div>


<div *ngIf = "showLogout">
<button (click) = "doLogout()">Logout</button>

</div>


<div *ngIf = "loginSuccessful">

    <app-location-picker
        [currentUser] = "currentUser">

    </app-location-picker>


</div>

<footer>
    <p>&copy; BitByte Inc.</p>
</footer>