footer{
    margin-left: 20px;
    margin-top: 110px;
    padding-bottom: 10px;
    /* background-color: chartreuse; */
    
}


.jumbotron{
    background-color: burlywood;
}
.container{
    background-color: aqua;
    text-align: center;
    
}
.form-control{
    /* display: inline; */
    /* width: 500px; */
    
}
.input-group{
    margin-left: 430px;
    
    width: 200px;
}

#longer{
    width: 300px
}

body{
    background-color: chartreuse;
}