.rotom{
    position: absolute;

    z-index: 1;
}

.map{
    position: absolute;
    z-index: 3;
    top: 370px;
    left:200px;
}

.block{
    text-align: center;
}


#box{
    height: 100px;
 }
.table{
    background-color: lightgreen;
    border-radius: 10px;
    /* padding-right: -10px; */
}
.jumbotron{
    width: 100%;
}

#boop{
    background-image: none;
}

.btn{
    background-color: bisque;
    margin: 10px 60px;
    color: slategray;
}

.nav-item{
    margin: 20px, 0px;
}

