

<div *ngIf = "showLocationMenu">
    <table class="table table-borderless">
        <tr>
            <td><button class="btn btn-primary"(click) = "openLocationOne()">Location One</button></td>

            <td><button class="btn btn-primary"(click) = "openLocationTwo()">Location Two</button></td>

            <td><button class="btn btn-primary"(click) = "openLocationThree()">Location Three</button></td>

            <td><button class="btn btn-primary"(click) = "openLocationFour()">Location Four</button></td>
        </tr>
    </table>

</div>

<div *ngIf = "showTreasureMap">
    <table class="table table-borderless">
        <tr>
            <td><img src = "{{treasureLocation}}"></td>
            <td>{{currentHint}}</td>
        </tr>
        <tr><td><button class="btn " (click) = "treasureBoxFound()">Found Treasure Box !!!</button></td></tr>

    </table>

    
    
</div>

<div *ngIf = "showTreasuresList">

    
    <app-treasures-list
        [locationNumber] = "locationNumber" 
    >

    </app-treasures-list>


</div>
