img{
    height: 300px;
    
}
/* footer{
    margin-left: 20px;
    margin-top: 100px;
    padding-bottom: 1000px;

} */

.bgPic{
    background-image: url("../images/map.png");
}

.table{
    background-color: royalblue;
    /* padding-right: -10px; */
}
.jumbotron{
    width: 100%;
}