img{
    height: 300px;
    
}


.table{
    background-color: royalblue;
    /* padding-right: -10px; */
}
.jumbotron{
    width: 100%;
}

#box{
   height: 100px;
}

.btn{
    
    margin: 10px 60px;
}

.nav-item{
    margin: 20px, 0px;
}

