<html id="boop">
    
<div class="contianer container-fluid">
    <div class="row">
        <div class="col-sm-12">
            
            <div *ngIf = "showLocationMenu">
                <table class="table table-borderless">
                    <tr>
                        <td><button class="btn btn-primary"(click) = "openLocationOne()">Location One</button></td>
            
                        <td><button class="btn btn-primary"(click) = "openLocationTwo()">Location Two</button></td>
            
                        <td><button class="btn btn-primary"(click) = "openLocationThree()">Location Three</button></td>
            
                        <td><button class="btn btn-primary"(click) = "openLocationFour()">Location Four</button></td>
                    </tr>
                </table>
                
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-6">
            <div *ngIf = "showTreasureMap">
                
                        <img class="map" src = "{{treasureLocation}}" >
                        <iframe class = "map"width="400" height="300" frameBorder="0" [src]="urlSafe"></iframe>
                        
                        <img class = "rotom"src="assets/images/rotom2.png" height="500px">
                    
            </div>
        </div>
        <div class="col-sm-6 block"  *ngIf = "showTreasureMap">
            <h3>{{currentHint}}</h3>
            <img src="assets/images/pokebox2.png" height="100px" (click) = "treasureBoxFound()" >
            <div *ngIf = "currentUser.is_Manager">
                <button class="btn btn-primary"(click) = "editLocationCoordinates()">Edit Location Coordinates</button>
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div *ngIf = "showTreasuresList">

    
                <app-treasures-list
                    [locationNumber] = "locationNumber" [currentUser] = "currentUser" >
            
                </app-treasures-list>
            
            
            </div>
        </div>
    </div>
</div>



<!-- <div *ngIf = "showTreasureMap">
    <table class="table table-borderless">
        <tr>
            <td><img src = "{{treasureLocation}}"></td>
            <td>{{currentHint}}</td>
        </tr> -->
        <!-- <tr><td><button id=box class="btn" (click) = "treasureBoxFound()">Found Treasure Box !!!</button></td></tr> -->
        <!-- <tr>
            <td><img id="box" src="assets/images/pokebox2.png"(click) = "treasureBoxFound()" ></td>
            <td *ngIf = "currentUser.is_Manager">
                <button (click) = "editLocationCoordinates()">Edit Location Coordinates</button>
            </td>
 
        </tr>
    </table>

    
    
</div> -->



</html>
