

<button (click) = "revealTreasureInventory()">Reveal Treasure Inventory</button>

<div *ngIf = "showTreasures">
<h3>Treasures in box {{locationNumber}}:</h3>
<ul>
    <li *ngFor = "let treasure of treasures">
        {{treasure}}
        <button (click) = "swapTreasure()">SWAP Treasure</button>
    </li>
    <li *ngIf = "currentUser.is_Manager">
        <button (click) = "addTreasure()">Add Treasure</button>
        <button (click) = "removeTreasure()">Remove Treasure</button>
    </li>

</ul>
</div>






